<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>project1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB40EC252097E2B4005FDB87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB40EC3B2097E2B5005FDB87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB40EC462097E2B5005FDB87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
